* {
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;

}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;

}

.text-primary {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 51px;
    color: #474747;

}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}

.header {
    background-color: #FFF8F3;
    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 60px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .profile-pic {
    width: 400px;
}

.banner-content {
    max-width: 500px;

}

.banner-greeting {
    font-size: 45px;
    color: #474747;


}

.banner-title {
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;

}

.banner-description {
    color: #181818;
}

main {
    max-width: 1140px;
    position: relative;
    margin-left: 500px;

}

.about {
    padding: 30px;
    margin-top: 100px;
    background-color: #f8ede6;
    width: 600px;
    border-radius: 20px;


}

.about-title {

    text-align: center;
    justify-content: center;
}

.about-description {

    color: black;
    text-align: justify;


}

.about-info-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    text-align: center;


}


.what-title {
    text-align: center;
    background-color: none;
    width: 600px;
    margin-top: 100px;
}

.skills-container {
    display: flex;
    /* justify-content: center; */
    gap: 5px;
    margin-top: 100px;
    margin-right: 300px;
    width: 100px;
    
}

.skill {
    padding: 10px;
    margin-right: 20px;
    background-color: none;
    text-align: left;
    width: 400px;
    border: 2px solid chartreuse;

}

.resume-container{
    display: flex;
}